[Unit]
Description=CEC initialisation
After=sway.service
Requires=sway.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/cec-ctl -o RPi --playback -S
Restart=on-failure
RestartSec=10
TimeoutStopSec=10
