[Unit]
Description=Scheduled PhotoPrism Download
Conflicts=pp_client_img.service

[Install]
WantedBy=default.target

[Service]
Type=simple
WorkingDirectory=%h/pp_client
ExecStart=%h/pp_client/photoprism_download.sh
ExecStopPost=systemctl --user start pp_client_img
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
