[Unit]
Description=swayimg - Slideshow
Documentation=man:swayimg(5)
#After=sway.service
#Requires=sway.service
After=weston.service
Requires=weston.service

[Install]
WantedBy=default.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/swayimg/env
WorkingDirectory=%h/pp_client/images
ExecStart=/usr/bin/swayimg
Restart=on-failure
RestartSec=10
TimeoutStopSec=10
