[Unit]
Description=sway - SirCmpwn's Wayland window manager
Documentation=man:sway(5)
BindsTo=default.target
Wants=default.target
After=getty.target

[Install]
WantedBy=default.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/sway/env
ExecStart=/usr/bin/sway
ExecStartPost=systemctl --user unset-environment WAYLAND_DISPLAY SWAYSOCK
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
